name: Infrastructure Deletion Pipeline

on: 
  workflow_dispatch:
    
env:
  AWS_REGION: us-east-1
  infra_dir: ~/student-portal/terraform 
  terraform_version: 1.14.5
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID}}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY}}

jobs:
  build-ecs-infrastructure:
    name: Build and Deploy ECS Infrastructure
    runs-on: ubuntu-latest 
    steps: 
      - name: Checkout Repository 
        uses: actions/checkout@v3

      - name: Set up Terraform 
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ env.terraform_version }}

      - name: Initialize Terraform 
        working-directory: ${{ env.infra_dir }}
        run: terraform init 

      - name: Validate Terraform Configuration 
        run: terraform destroy auto-approve
        working-directory: ${{ env.infra_dir }}